= react_component( 'TopBar', logout_link: destroy_account_session_path)

.container-flex
  = react_component( 'MainMenu', name: 'John', items: ['one', 'two'])
  = react_component( 'Note', items: ['one', 'two'])
